body {
  width: 100%;
  *zoom: 1;
}
body:after {
  clear: both;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
body:after {
  clear: both;
}
body {
  width: 100%;
  *zoom: 1;
}
body:after {
  clear: both;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
body:after {
  clear: both;
}
fieldset {
  width: 80%;
  margin: 10px auto;
}
.background-image {
  min-height: 100%;
  min-width: 1200px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}
.border-box {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.pull-right {
  float: right;
}
legend {
  font-size: 16px;
  font-weight: bold;
}
.input-small {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline;
  float: left;
  width: 32.142857142857146%;
  margin: 0 0.5952380952380952%;
  *zoom: 1;
}
.input-small:after {
  clear: both;
}
.input-small:before,
.input-small:after {
  content: "";
  display: table;
}
.input-small:after {
  clear: both;
}
.input-small:after {
  clear: both;
}
.input-small:after {
  clear: both;
}
.input-small:before,
.input-small:after {
  content: "";
  display: table;
}
.input-small:after {
  clear: both;
}
.input-small:after {
  clear: both;
}
.input-middle {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline;
  float: left;
  width: 65.47619047619048%;
  margin: 0 0.5952380952380952%;
  *zoom: 1;
}
.input-middle:after {
  clear: both;
}
.input-middle:before,
.input-middle:after {
  content: "";
  display: table;
}
.input-middle:after {
  clear: both;
}
.input-middle:after {
  clear: both;
}
.input-middle:after {
  clear: both;
}
.input-middle:before,
.input-middle:after {
  content: "";
  display: table;
}
.input-middle:after {
  clear: both;
}
.input-middle:after {
  clear: both;
}
.input-large {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline;
  float: left;
  width: 98.80952380952381%;
  margin: 0 0.5952380952380952%;
  *zoom: 1;
}
.input-large:after {
  clear: both;
}
.input-large:before,
.input-large:after {
  content: "";
  display: table;
}
.input-large:after {
  clear: both;
}
.input-large:after {
  clear: both;
}
.input-large:after {
  clear: both;
}
.input-large:before,
.input-large:after {
  content: "";
  display: table;
}
.input-large:after {
  clear: both;
}
.input-large:after {
  clear: both;
}
.control-group {
  vertical-align: middle;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline;
  float: left;
  width: 98.80952380952381%;
  margin: 0 0.5952380952380952%;
  *zoom: 1;
}
.control-group:after {
  clear: both;
}
.control-group:before,
.control-group:after {
  content: "";
  display: table;
}
.control-group:after {
  clear: both;
}
.control-group:after {
  clear: both;
}
.control-group:after {
  clear: both;
}
.control-group:before,
.control-group:after {
  content: "";
  display: table;
}
.control-group:after {
  clear: both;
}
.control-group:after {
  clear: both;
}
.control-group .control-label {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline;
  float: left;
  width: 32.142857142857146%;
  margin: 0 0.5952380952380952%;
  *zoom: 1;
  margin-left: 8.928571428571427%;
}
.control-group .control-label:after {
  clear: both;
}
.control-group .control-label:before,
.control-group .control-label:after {
  content: "";
  display: table;
}
.control-group .control-label:after {
  clear: both;
}
.control-group .control-label:after {
  clear: both;
}
.control-group .control-label:after {
  clear: both;
}
.control-group .control-label:before,
.control-group .control-label:after {
  content: "";
  display: table;
}
.control-group .control-label:after {
  clear: both;
}
.control-group .control-label:after {
  clear: both;
}
.control-group .controls {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline;
  float: left;
  width: 57.14285714285714%;
  margin: 0 0.5952380952380952%;
  *zoom: 1;
}
.control-group .controls:after {
  clear: both;
}
.control-group .controls:before,
.control-group .controls:after {
  content: "";
  display: table;
}
.control-group .controls:after {
  clear: both;
}
.control-group .controls:after {
  clear: both;
}
.control-group .controls:after {
  clear: both;
}
.control-group .controls:before,
.control-group .controls:after {
  content: "";
  display: table;
}
.control-group .controls:after {
  clear: both;
}
.control-group .controls:after {
  clear: both;
}
.control-group .controls input,
.control-group .controls select {
  font-size: 16px;
}
.control-group .controls .help-block {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline;
  float: left;
  width: 98.80952380952381%;
  margin: 0 0.5952380952380952%;
  *zoom: 1;
  margin: 0 0 5px 0;
  padding: 5px;
  font-size: 12px;
}
.control-group .controls .help-block:after {
  clear: both;
}
.control-group .controls .help-block:before,
.control-group .controls .help-block:after {
  content: "";
  display: table;
}
.control-group .controls .help-block:after {
  clear: both;
}
.control-group .controls .help-block:after {
  clear: both;
}
.control-group .controls .help-block:after {
  clear: both;
}
.control-group .controls .help-block:before,
.control-group .controls .help-block:after {
  content: "";
  display: table;
}
.control-group .controls .help-block:after {
  clear: both;
}
.control-group .controls .help-block:after {
  clear: both;
}
.form-actions {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline;
  float: left;
  width: 98.80952380952381%;
  margin: 0 0.5952380952380952%;
  *zoom: 1;
  padding-left: 42.261904761904766%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  background-color: #f1f1f1;
  border-top: 1px solid #ebe6d0;
}
.form-actions:after {
  clear: both;
}
.form-actions:before,
.form-actions:after {
  content: "";
  display: table;
}
.form-actions:after {
  clear: both;
}
.form-actions:after {
  clear: both;
}
.form-actions:after {
  clear: both;
}
.form-actions:before,
.form-actions:after {
  content: "";
  display: table;
}
.form-actions:after {
  clear: both;
}
.form-actions:after {
  clear: both;
}
